rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pegawai/{document} {
      allow read, write: if true;
    }
    match /settings/{document} {
      allow read, write: if true;
    }
    match /activity_logs/{document} {
      allow read, write: if true;
    }
    match /staff_users/{document} {
      allow read, write: if true;
    }
  }
}
